.mmm-plenticore-wrapper svg#a {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    width: 100%;
    margin: 0 auto 15px;
    max-width: 250px;
    height: auto;
}

.mmm-plenticore-wrapper .v {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
}

.mmm-plenticore-wrapper .v,
.mmm-plenticore-wrapper .w {
    isolation: isolate;
}

.mmm-plenticore-wrapper .x {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.mmm-plenticore-wrapper .y {
    fill: #fff;
    stroke-width: 0px;
}

.mmm-plenticore-wrapper #plenti-stats h3,
.mmm-plenticore-wrapper #plenti-stats h4,
.mmm-plenticore-wrapper #plenti-stats h5,
.mmm-plenticore-wrapper #plenti-stats h6 {
    margin: 0;
    text-align: center;
}

.mmm-plenticore-wrapper #plenti-stats .container:after,
.mmm-plenticore-wrapper #plenti-stats .container .col-md-6:after {
    content: "";
    display: block;
    clear: both;
}

.mmm-plenticore-wrapper #plenti-stats .container .col-md-6 {
    width: 50%;
    float: left;
    text-align: center;
}

.mmm-plenticore-wrapper #plenti-stats .container .col-md-6 svg {
    display: block;
    width: 50px;
    margin: 0 auto 10px;
}