.mmm-plenticore-wrapper svg {
    font-family: "Open Sans", Arial, sans-serif;
    display: block;
    width: 100%;
    height: auto;
}

.mmm-plenticore-wrapper .v {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 20px;
}

.mmm-plenticore-wrapper .v,
.mmm-plenticore-wrapper .w {
    isolation: isolate;
}

.mmm-plenticore-wrapper .x {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.mmm-plenticore-wrapper .y {
    fill: #fff;
    stroke-width: 0px;
}